.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #101010;
  color: white;
}

h1 {
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
}

a {
  text-decoration: underline;
  color: inherit;
}

img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

#gameScreen {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 40% 20% 40%;
  width: 75vw;
  height: 30vw;
  margin: auto;
  padding: 1.5rem;
  gap: 1rem;
}

.btns {
  background-color: bisque;
  padding: 1rem;
  font-size: xx-large;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  max-width: 150px;
  max-height: 175px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.btns:hover {
  border: 2px solid bisque;
  background-color: rgb(178, 114, 35);
  color: bisque;
}

.playerInfo {
  font-size: xx-large;
}

#startButton {
  grid-column: 2;
  grid-row: 2;
  width: 150px;
  height: 125px;
  justify-self: center;
  margin: auto;
}

#computerPanel {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#gameInfo {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
  align-items: center;
}

#humanPanel {
  font-size: xx-large;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#humanChoice {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.btns img {
  height: 100px;
  width: auto;
}

footer {
  font-size: 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0 1rem 0;
}
